* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

html {
  font-size: 1rem;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.button {
  display: inline-block;

  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;

   color: #fff;
  background-color: #3a71d1;
  padding: 1.5625rem 3.75rem;

  border: none;

  cursor: pointer;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.mobile-menu {
  display: none;
}

/*************** HEADER ***************/
.header {
  padding-top: 5.875rem;
}
.header-image {
  background-image: url(../img/header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 0.188rem;
  position: relative;
}
.header-image::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  background-color: rgba(41, 45, 51, 0.6);
}

.navbar {
  display: flex;
  align-items: center; 

  color: #fff;
  height: 5.875rem;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;

  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  color: #292d33;
  background-color: #fff;
  height: 4.5rem;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0 1.9375rem 0 2.1875rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.logo {
    display: none;
  }
.header-logo .logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}
.header-nav {
  flex-basis: 100%;

  display: flex;
  list-style: none;

  padding: 0 3.125rem;
  margin: 0;
}
.header-nav-item:not(:last-child) {
  margin-right: 3.1875rem;
  /* margin-right: 2%; */
}
.header-nav-link {
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.1px;
}
.header-phone {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: .625rem;

  margin-right: 3.25rem;
}
.phone-icon {
  fill: #5C8EE6;
}
.header-phone-link {
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
}
.navbar-button {
  height: 100%;

  padding: 1.5625rem 2.375rem 1.5625rem 3.25rem;

  flex-shrink: 0;  
}
.navbar-button .button-icon {
  display: none;
}


/*************** HEADER-CONTENT ***************/
.header-container {
  padding-left: .625rem;
}
.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}
.seporator {
  width: 9.375rem;
  height: 2px;
  background: #5C8EE5;
}
.header-title {
  max-width: 67.5rem;

  font-family: 'Bebas Neue';

  font-size: 4.9375rem;
  line-height: 120%;

  margin: 1.4375rem 0 2.5rem 0;

  letter-spacing: .0563rem;
}
.header-text {
  max-width: 45rem;

  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;

  margin-bottom: 3.125rem;

  letter-spacing: 0.1px;
}
.header-button {
  padding: 1.625rem 3.75rem;
}



/*************** HEADER-FEATURES ***************/
.header-features {
  min-height: 10.5rem;

  display: flex;
  /* flex-wrap: wrap; */

  padding: 0;
  margin-top: 6.1875rem;

  list-style: none;
  color: #fff;

  position: relative;
}
.header-features-item {
  max-width: 99.9%;
  /* min-width: 17rem; */
  height: auto;
  padding: 1.875rem 3.125rem .625rem 3.125rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-text {
  font-size: 1rem;
  line-height: 160%;
}


.slider-buttons {
  display: none;
  height: 44px;
}

.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}



/*************** SECTION-LIGHT ***************/
.section {
  margin: 9.375rem 0;
}
.section-container {
  padding-left: .5625rem;
}
.section-title {
  font-family: 'Bebas Neue';
  font-size: 3.75rem;
  line-height: 120%;
  color: #292d33;
  margin-top: 1.5rem;
  margin-bottom: 3.3125rem;
}

.steps-slider {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.steps {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  list-style: none;
  padding: 0;
  margin-bottom: 1.3rem;
}

.steps-buttons {
  max-width: 120px;
  height: 44px;
  display: none; 
}

.steps-button-prev,
.steps-button-next {
  height: 100%;
  flex-basis: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  padding: 10px 15px;
  background-color: #5C8EE5;
}

.steps-item {
  max-width: 20.625rem;
  height: auto;
}
.steps-num {
  font-family: 'Bebas Neue';
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee5;

  display: flex;
  align-items: center;
}
.steps-num::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ebebf0;
  margin-left: 1.875rem;
}
.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 2rem;
  margin-bottom: .8125rem;
}
.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: .625rem;
  margin-bottom: 1.3125rem;
}
.steps-link {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee5;
  text-decoration: none;

  display: flex;
  align-items: center;
}
.steps-link::before {
  content: "";
  width: 2.5rem;
  height: 1px;
  background-color: #5c8ee5;
  margin-right: 1.25rem;
}



/*************** production ***************/
.production {
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  position: relative;
}
.card-content {
  padding: 2.5rem 1.25rem 2.5rem 3.125rem;
  margin-bottom: 390px;
}
.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin: 0;
}
.card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99; 
}
.card-image {
  width: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}


























/*************** @media  ***************/
@media (max-width: 1710px) {
  html {
    font-size: 13.5px;
  }

}



@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 2rem;
  }
  
  .logo-svg {
    max-width: 6rem;
  }
  
  .header-nav {
    padding-left: 1.5rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }

  .header-phone {
    margin-right: 1.5rem;
  }
  
}



@media (max-width: 1200px) {
  .container {
    max-width: 72rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5rem;
  }
  .header-nav {
    padding-left: 0.8rem;
  }
  .navbar-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .slider-buttons {
    display: flex;
  }

  .steps-item {
    max-width: 30%;
  }

  .steps-buttons {
    display: flex;
  }


  .card {
    flex-basis: 50%;
  }

}


@media (max-width: 1024px) {
  .container {
    max-width: 70rem;
  }

}



@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 60rem;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .header-nav {
    display: none;
  }

  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.7rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #fff;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    padding-top: 7rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-bottom: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }

  .mobile-menu-nav {
    margin-left: -1.2rem;
  }
  .mobile-menu-nav-item {
    margin-bottom: 3rem;
  }

  .mobile-menu-nav,
  .mobile-submenu {
    list-style: none;
  }
  .mobile-menu-nav-link,
  .mobile-submenu-link {
    text-decoration: none;
  }
  .mobile-menu-nav-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-submenu {
    padding-left: 2rem;
    margin-top: 1rem;
  }
  .mobile-submenu-item:not(last-child) {
    margin-bottom: 1rem;
  }
  .mobile-submenu-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #828a99;
  }
  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #292d33;
    margin-left: 2rem;
    border-top: 1px solid #ebebf0;
    padding-top: 3rem;
  }
  .mobile-seporator {
    background-color: #ebebf0;
  }
  .mobile-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #292d33;
    margin-left: 2rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .mobile-info-address,
  .mobile-info-email {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    gap: .625rem;
  }
  .mobile-info-address address {
    font-style: normal;
  }
  .mobile-info-email a {
    text-decoration: none;
    color: inherit;
  }
  .mobile-socials {
    margin-left: 2rem;
    display: flex;
    gap: .9375rem;
  }
  .mobile-menu-line {
    transition: transform 0.3s;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(12px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-12px);
  }


  .steps-item {
    max-width: 45%;
  }
  
}



@media (max-width: 768px) {
  .container {
    max-width: 50rem;
  }
  .header-title {
    font-size: 4rem;
  }
  .header-content {
    padding-top: 3rem;
  }

  .section {
    margin: 6rem 0;
  }
  .section-title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }


  .card {
    flex-basis: 100%;
  }

}



@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .header-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .header-text {
    margin-bottom: 2.5rem;
  }
  .header-content {
    padding-top: 2rem;
  }
  .header-features {
    margin-top: 4rem;
  }


  .section-title {
    font-size: 2.5rem;
  }

  .steps-item {
    max-width: 90%;
  }

}

@media (max-width: 480px) {
  .card-content {
    margin-bottom: 250px;
  }
}

@media (max-width: 320px) {
  
}